@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    border-bottom: 2px solid rgb(25 33 44);
}

nav a {
    color: #E5E7EB;
}

nav .logo {
    font-size: 2rem;
    font-weight: 700;
    color: #F9FAF8;
    text-transform: uppercase;
}

nav .links {
    display: flex;
    gap: 16px;
}

header {
    padding: 1rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.hero {
  max-width: 30vw;
  margin-bottom: 1rem;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p {
    font-size: 1.2rem;
    color: #E5E7EB;
}

.signup {
    font-size: 1.2rem;
    font-weight: bolder;
    border: none;
    background-color: #3882F6;
    padding: .5rem 2rem;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
}

.pcimg {
    max-width: 50%;
    padding: 10px;
    background-color: #F9FAF8;
}